
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="client">
  <div class="client-info">
    <div class="container">
    <div class="section">
            <a class="btn" href="{% url 'client_edit' pk=person.pk %}">Редактировать</a>
            <h5>ФИО:</h5> <p>{{ person.fio }}</p>
            <h5>Последний визит:</h5> <p> {{ person.last_work }}</p>
            <h5>Переплата:</h5> <p> {{ person.pros }}</p>
            <h5>Задолженность:</h5> <p> {{ person.cons }}</p>
            <h5>День рождения клиента:</h5> <p>{{ person.birth_date }}</p>
            <h5>Мобильный:</h5> <p>{{ person.mobile }}</p>
            <h5>Противопоказания:</h5> <p>{{ person.contra }}</p>
            <h5>Дополнительно:</h5> <p>{{ person.additional }}</p>
    </div>
  </div>
</div>
  <div class="client-works">
    </p> <img src="{{ MEDIA_URL }}{{ person.photo.url }}" height="200"></a>
    <h5>Последние работы:</h5>
        {% for work in client_works %}

        <h5><a href="{% url 'work_detail' pk=work.pk %}">{{ work.date }}</a></h5>

        {% endfor %}
  </div>
</div>


{% endblock %}
