
    {% extends 'base.html' %}

    {% block content %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Добро пожаловать в админку</h1>
      <div class="row center">
        <h5 class="header col s12 light">Тут можно добавлять клиентов, работы и смотреть статистику</h5>
      </div>

      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">add_circle_outline</i></h2>
              <h5 class="center"><a href="/work_add/">Добавить работу</a></h5>

            <p class="light">Добавить работу, фотки и прочие штуки</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">face</i></h2>
            <h5 class="center"><a href="/client_add/">Добавить клиента</a></h5>

            <p class="light">Добавить клиента, заполнить анкету, взять телефон и фоточку</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center"><a href="/#">Статистика</a></h5>

            <p class="light">Вся статистика тут. Сколько клиентов было, сколько денег подняли, сколько потратили материала</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">content_copy</i></h2>
              <h5 class="center"><a href="/works/">Мои работы</a></h5>

            <p class="light">Посмотреть работы, фотки и прочие штуки</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center"><a href="/clients/">Список клиентов</a></h5>

            <p class="light">Найти клиента, редактировать анкету</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">devices</i></h2>
              <h5 class="center"><a href="/#">Оборудование</a></h5>

            <p class="light">Включай всякие железки</p>
          </div>
        </div>

      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
{% endblock %}

