
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="section">

            <a class="btn" href="{% url 'work_edit' pk=done.pk %}">Редактировать</a>
            <h5>Клиент:</h5> <p>{{ done.client }}</p>
            <h5>Стоимость:</h5> <p>{{ done.cost }}</p>
            <h5>Дата:</h5> <p> {{ done.date }}</p>
        {% for photo in photos %}
        <img src="{{ MEDIA_URL }}{{ photo.file.url }}" height="200">
        {% endfor %}
    </div>
  </div>


{% endblock %}
