
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="section">

            <a class="btn" href="{% url 'work_edit' pk=done.pk %}">Редактировать</a>
            <h5>Клиент:</h5> <p>{{ done.client }}</p>
            <h5>Стоимость:</h5> <p>{{ done.cost }}</p>
            <h5>Дата:</h5> <p> {{ done.date }}</p>
        <div class="publish-parent">
        {% for photo in photos %}
            <div class="publish-btn">
            <a class="need_btn" data-photo="{{ photo.photo_uuid }}" data-publstatus="{{ photo.published }}">Статус</a>
                <div class="publish-parent cf">
                    <div>
                        <img src="{{ MEDIA_URL }}{{ photo.file.url }}">
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
  </div>
<script>

function main() {
    photo = $('.need_btn');
    for (var i = 0; i< photo.length; i++){
        console.log(photo[i].dataset.publstatus);
        test = photo[i].dataset.publstatus;
        console.log(test);
        console.log(photo[i]);
        photo[i].css('background-color', 'blue')
      /*  if (test === true) {
            photo[i].css('background-color', 'blue');
        } else {
            photo[i].css('background-color', 'yellow');
        }
        */
    }
    $('.publish-btn').on('click', function () {
        $.ajax({
            type: "POST",
            url: "/work/{{ done.pk }}/",
            data: {
                'uuid': $(this).children().data('photo'),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success:
                $(this).children().css('background-color', 'green')
        })
    });
}

$(document).ready(main);

</script>

{% endblock %}

