
{% extends 'base.html' %}

{% block head %}
{% load static %}
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment-with-locales.js" %}"></script>
<link rel="stylesheet" href="{% static "js/locales/bootstrap-datepicker.ru.min.js" %}" />
<script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}" />

{{ form.media }}

{% endblock %}

{% block content %}
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

  <div class="container">
    <div class="section">



<form method="POST" class="viewform" enctype="multipart/form-data">
{% csrf_token %}

{{ form.client }}
{{ form.work_category }}
<p>Цена работы</p>
{{ form.cost }}
{{ form.date }}
{{ form.photo }}

   <p>      </p>
<button type="submit" name="_submit" class="btn">Принять</button>

</form>

    </div>
  </div>

<script>
    $('#id_date').datetimepicker({
    format: 'DD-MM-YYYY',
    locale: 'ru'
    });
</script>

<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>

{% endblock %}

