/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.publish-parent > div {
  position: relative;
  float: left;
  padding: 5px;
}

.publish-parent {
    width: 100% ;

}
.publish-parent > div > img {
  display: block;
  width: 150px;
  transition: .1s transform;
  transform: translateZ(0);
}

.publish-parent > div:hover {
  z-index: 51;
}

.publish-parent > div:hover > img {
  transform: scale(2.5,2.5);
  transform-origin: 50% -20%;
  transition: .3s transform;
}

.need_btn {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.remove_btn {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}